*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#sec1
{
    width: 100%;
    height: 70px;
    border-color: black;
    background-color: black;
}

#art1
{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
}

#div1
{
    width: 90%;
    height: 70px;
    margin-left: 2rem;
    margin-top: 1rem;
}

a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: large;
}

#div2
{
    width: 50%;
    height: 70px;
    margin-left: 80rem;
    margin-top: 1rem;

}

#but1
{
    color: white;
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    background-color: grey;
}

#sec2
{
    width: 100%;
    height: 50rem;
    background-color: grey;
}

#div3
{
    width: 40rem;
    height:30rem;
    background-color: white  ; 
    margin-left: 28.8rem;
    margin-bottom: 50rem;
    margin-top: 5rem;
    position: absolute;
    background-color: transparent;
}

#tab
{
    margin-left: 10rem;
    margin-top: 10rem;
    color: white;
    
}

#div4
{
    width: 40rem;
    height:30rem ; 
    margin-left: 28rem;
    margin-bottom: 50rem;
    margin-top: 5rem;
    position: absolute;
    border-radius: 25px;
    transform: rotate(-5deg);
    background: linear-gradient(to right ,rgb(78, 200, 61),green);
}

#div5
{
    width: 40rem;
    height:30rem; ; 
    margin-left: 28rem;
    margin-bottom: 50rem;
    margin-top: 5rem;
    position: absolute;
    background-color:black;
    border-radius: 25px;
    transform: rotate(-10deg);
}

#but2
{
    height: 2rem;
    width: 10rem;
    border-radius: 10px;
    border: 0ch;
}